name: MLflow CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  train-and-build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python 3.12.7
      uses: actions/setup-python@v4
      with:
        python-version: "3.12.7"

    - name: Install MLflow
      run: |
        python -m pip install --upgrade pip
        pip install mlflow==2.19.0

    - name: Run MLflow Project
      run: |
        cd MLProject
        mlflow run .

    - name: Build Docker Image
      run: |
        cd MLProject
        mlflow models build-docker -m runs:/$(mlflow runs list --max-results 1 | tail -n 1 | awk '{print $1}') -n amazon-rating-model

    - name: Login Docker Hub
      run: |
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Tag Docker Image
      run: |
        docker tag amazon-rating-model ${{ secrets.DOCKER_USERNAME }}/amazon-rating-model:latest

    - name: Push Docker Image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/amazon-rating-model:latest