name: MLflow CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  train-and-build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install MLflow
      run: |
        python -m pip install --upgrade pip
        pip install mlflow==2.19.0

    - name: Run MLflow Project (Training)
      run: |
        mlflow run . -- no-conda

    - name: Build Docker Image from MLflow Model
      run: |
        mlflow models build-docker \
          -m "models:/amazon-rating/latest" \
          -n amazon-rating-model

    - name: Login to Docker Hub
      run: |
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
          -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Tag Docker Image
      run: |
        docker tag amazon-rating-model \
          ${{ secrets.DOCKER_USERNAME }}/amazon-rating-model:latest

    - name: Push Docker Image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/amazon-rating-model:latest
